.button {
  background: #c9a993 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 50px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 50px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 50px -10px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  border: 0px;
  padding: 0.3rem;
  font-weight: bolder;
  font-size: large;
  color: #ffffff;
}
.button:hover {
  background: #cbb2a1 0% 0% no-repeat padding-box;
}
