#root {
  height: 100%;
  width: 100%;
  z-index: -1;
}
html,
body {
  background-image: url("/Users/sanskriti/Documents/GitHub/skin-cancer-detection-web-app/src/assets/img/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.heading1 {
  color: #c9a993;
  font-weight: bold;
}
